body{
    margin: 0;
}
b{font-weight: bold;}

i {font-style: italic;}

p,h1,h2,h3,h4,h5,h6{ margin: 0;}




section {
width: 1000px;
/*height: 3000px;*/
margin: 0 auto;
}
header {
    position: relative;
    width: 100%;
    height: 500px;
    background: #ddd ;
    margin:  0 0 50px 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: 5px solid #313c83;
}
header h1{
    display: block;
    position: absolute;
    width: 300px;
    height: 27px;
    text-align: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 10px 0 15px;
    font-size: 32px;           
    font-weight: bold;          
    text-transform: uppercase;  
/*    прозрачность*/
    color: #313c83;
    background: rgba(255,255,255,0.6);
}

center {
width: 100%;
margin-bottom: 50px;
background: #fff;
}


page {
    display: block;
    width: calc(100% - 60px);
    padding: 0 30px;
    text-align: left;
    margin-bottom: 50px;
}

page span{
    color: #ff0;
    font-size: 20px;
}
page p{
    color: #555;
    font-size: 20px;
}
page q{
    display: block;
    color: #999;
    margin-top: 10px
}
page h2{
    font-size: 28px;
    margin-bottom: 20px;
    color: #313c83;
}

news {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    overflow: hidden;
    color: #555;
}

news div {
    position: relative;
    width: calc(33.33% - 42px);
    margin: 20px;
    height: 400px;
    float: left;
    text-align: left;
    border: 1px solid #ddd;
}
news div foto{
    display: block;
    width: 100%;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
}
news div h3{
    text-align: left;
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
}
news div p{
    margin: 10px;
}

news div a{
    position: absolute;
    right: 10px;
    bottom: 10px;
    display: block;
    padding: 10px;
    background: firebrick;
    color: #fff;  
    width: 95px;
    text-align: center;
}
footer {
    display: block;
    height: 300px;
    background: #313c83;
    color: #fff;
    padding: 40px;
}   